<launch>


<!-- ================= Jetson1 ======================= -->
<node pkg="wp3_decompressor" type="wp3_decompressor_node" name="jetson1_decomp">
    <param name="sensor_name" value="jetson1" />
    <param name="sensor_frame" value="world" />
    <param name="sensor_type" value="0" />
    <param name="filter_value" value="80" />
</node>

<!-- ================= Jetson2 ======================= -->
<node pkg="wp3_decompressor" type="wp3_decompressor_node" name="jetson2_decomp">
    <param name="sensor_name" value="jetson2" />
    <param name="sensor_frame" value="world" />
    <param name="sensor_type" value="0" />
    <param name="filter_value" value="80" />
</node>

<!-- ================= Jetson3 ======================= -->
<node pkg="wp3_decompressor" type="wp3_decompressor_node" name="jetson3_decomp">
    <param name="sensor_name" value="jetson3" />
    <param name="sensor_frame" value="world" />
    <param name="sensor_type" value="0" />
    <param name="filter_value" value="80" />
</node>

<!-- ================= Jetson4 ======================= -->
<node pkg="wp3_decompressor" type="wp3_decompressor_node" name="jetson4_decomp">
    <param name="sensor_name" value="jetson4" />
    <param name="sensor_frame" value="world" />
    <param name="sensor_type" value="0" />
    <param name="filter_value" value="80" />
</node>

<!-- ================= Jetson5 ======================= -->
<node pkg="wp3_decompressor" type="wp3_decompressor_node" name="jetson5_decomp">
    <param name="sensor_name" value="jetson5" />
    <param name="sensor_frame" value="world" />
    <param name="sensor_type" value="0" />
    <param name="filter_value" value="80" />
</node>

<!-- ================= Jetson6 ======================= -->
<node pkg="wp3_decompressor" type="wp3_decompressor_node" name="jetson6_decomp">
    <param name="sensor_name" value="jetson6" />
    <param name="sensor_frame" value="world" />
    <param name="sensor_type" value="0" />
    <param name="filter_value" value="50" />
</node>

<!-- ================= VELODYNE ======================= -->
<node pkg="wp3_decompressor" type="wp3_decompressor_node" name="velodyne_decomp">
    <param name="sensor_name" value="roof" />
    <param name="sensor_type" value="1" />
    <param name="sensor_frame" value="myworld" />
    <param name="filter_value" value="0" />
</node>

</launch>
