<launch>

<!--Start jetson1-6-->
<!--<include file="$(find wp3_launch)/start_mil.launch"/>-->

<!--Launching gripper-->
<machine name="p26_gripper" address="p26_raspberry.wp3.localnet" env-loader="/home/ubuntu/catkin_ws/devel/env.sh" user="ubuntu" password="ubuntu" default="false"/>
<node machine="p26_gripper" name="gripper" pkg="p26_gripper" type="gripping.py" />

<!--Launching MoveIt nodes-->
<group ns="p26_lefty">
<include file="$(find p26_pick_and_place)/launch/p26_moveit_planning_execution.launch">
  <arg name="mode" value="real" />
</include>
</group>

<group ns="p26_lefty">
  <node name="cylinder_segmentation" pkg="p26_cylinder_segmentation" type="cylinder_segmentation" respawn="false" output="screen" />
</group>


<node name="obstacle_detection" pkg="p26_pick_and_place" type="obstacle_detection" respawn="false" output="screen"/>

<group ns="p26_lefty">
<node name="pick_and_place" pkg="p26_pick_and_place" type="p26_move.py" respawn="false" output="screen">
</node>
</group>


</launch>
